<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
<div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
    <a th:if="${isAdmin}"
       th:href="@{/admin}"
    class="btn btn-secondary">
    ← Назад к списку пользователей
    </a>

    <form th:action="@{/logout}" method="post">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>

    </form>
</div>
<h1>Личная страница</h1>
<p><strong>Логин:</strong> <span th:text="${user.username}">username</span></p>
<p><strong>Имя:</strong> <span th:text="${user.name}">name</span></p>
<p><strong>Возраст:</strong> <span th:text="${user.age}">age</span></p>
<p><strong>Профессия:</strong> <span th:text="${user.job}">job</span></p>

<h3>Роли:</h3>
<ul>
    <li th:each="r : ${user.role}"
        th:text="${r.role}">ROLE_USER</li>
</ul>

<p>
    <a th:href="@{/logout}">Выйти</a>
</p>

</body>
</html>